# Supabase
SUPABASE_URL=sua_url_aqui
SUPABASE_ANON_KEY=sua_chave_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_chave_secreta

# Gateway Pagamento
ASAAS_API_KEY=sua_chave_aqui
ASAAS_WEBHOOK_SECRET=seu_segredo_aqui

# Analytics
FIREBASE_CONFIG=sua_config_aqui
